<html xmlns:th="https://www.thymeleaf.org" >
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	
	<div class="container">
		
		<h1>Your incomes</h1>
		
		<p>Here are listed all your incomes,each income can be edited by pressing the "Edit" button next to the desired income</p>
		
		<table class="table table-bordered table-stripped">
		
		<thead>
			
			<tr>
				<th>Income id</th>
				<th>Income name</th>
				<th>Income value</th>
			</tr>
		
		</thead>
		
		<tbody>
			
			<tr th:each="income: ${incomes}">
				
				<td th:text="${income.getId}"></td>
				<td th:text="${income.getSourceName}"></td>
				<td th:text="${income.getSourceValue}"></td>
					
					<td>
					<a th:href="@{/editIncome(id=${income.id})}" class="btn btn-primary">Edit</a>
					</td>
					
					<td>
					<a th:href="@{/deleteIncome(id=${income.id})}" class="btn btn-danger">Delete</a>
					</td>
					
			</tr>
			
		</tbody>
		
	</table>
		
		<a th:href="@{/addNewIncome}">Add new income</a>
		
	</div>
	
	
</body>
</html>