<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MainCss.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 	
    <title>Budget app</title>
</head>

<body>

	<div class="mx-auto" style="width: 500px;">
	
	<h1><b>Your personal budget app</b></h1>
	
	<a th:href="@{/Expenses}" class="btn btn-lg mb-5 mt-5">
	<button type="submit">Expenses</button>
	</a>

	<a th:href="@{/Income}" class="btn btn-lg mb-5">
	<button type="submit">Incomes</button>
	</a>

	<a th:href="@{/Analytics}" class="btn btn-lg mb-5">
	<button type="submit">Analytics</button>
	</a>
	
</div>


</body>
</html>